*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'El Messiri', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #4A4A4A;
    padding: 0;
    margin: 0;
}
.title{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
}
h3{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.header__inner{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.menu{
    display: flex;
    margin-top: 57px;
    margin-bottom: 230px;
    align-items: center;
}
.menu__list{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.menu__item{
    margin-left: 63px;
    font-size: 20px;
    color: #688800;
    line-height: 100%;
    list-style-type: none;
}
.menu__basket{
    margin-left: 204px;
}
.header__title{
    font-family: 'Amatic SC', cursive;
    font-family: 400;
    font-size: 67px;
    line-height: 125%;
    text-align: right;
    margin-bottom: 0;
    margin-right: 100px;
}
.header__content{
    margin-bottom: auto;
    text-align: right;
}
.header__descr{
    font-size: 21px;
    line-height: 73%;
    margin-right: 166px;
    margin-bottom: 65px;
}
.header__btn{
    max-width: 424px;
    height: 69px;
    border-radius: 65px;
    background: linear-gradient(320.69deg, #536614 15.36%, #97C20B 84.86%);
    padding: 15px 38px;
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-right: 300px;
}
.arrow{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
/* .arrow-top{
    display: none;
    right: 30px;
    bottom: 30px;
}
.arrow:hover {
    opacity: 0;
}
.arrow:hover .arrow-top-img{
    display: block;
} */
.header__btn:hover{
    background: linear-gradient(320.69deg, #6d8324 15.36%, #cdf157 84.86%);
    transition: 1s;
}
.product{
    padding: 0 0 200px;
}
.product__title{
    margin-bottom: 118px;
}
.product__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.product__chapter{
    width: 360px;
    height: 618px;
    position: relative;
    box-shadow: 10px 10px 35px rgba(190, 191, 183, 0.1);
}
.product__chapter-hover--1,
.product__chapter-hover--2,
.product__chapter-hover--3,
.product__chapter-hover--4{
    display: none;
    position: absolute;
    left: 30px;
    top: -40px;
    margin-bottom: -77px;
}
.product__chapter:hover .product__img--1,
.product__chapter:hover .product__img--2,
.product__chapter:hover .product__img--3,
.product__chapter:hover .product__img--4{
    opacity: 0;
}
.product__chapter:hover .product__chapter-hover--1,.product__chapter:hover .product__chapter-hover--2,
.product__chapter:hover .product__chapter-hover--3,.product__chapter:hover .product__chapter-hover--4{
    display: block;
}
.product__img--1{
    margin: 39px 46px 46px 28px;
}
.product__img--2{
    margin: 40px 66px 43px 65px;
}
.product__img--3{
    margin: 62px 41px 43px 34px;
}
.product__img--4{
    margin: 24px 88px 23px 108px;
}
.product__name{
   font-weight: 700;
   font-family: 'Amatic SC', cursive;
   font-size: 35px;
   line-height: 125%;
   text-align: center;
   margin-bottom: 16px;
}
.product__name--1{
    color: #688800;
}
.product__name--2{
    color: #009246;
}
.product__name--3{
    color: #D73A31;
}
.product__name--4{
    color: #E67F10;
}
.product__wrapper{
    margin: 0 24px 36px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 312px;
    height: 253px;
}
.product__description{
    line-height: 21.25px;
}
.product__description--color{
    color: #688800;
}
.product__link{
    padding: 14px 27px;
    border: 1.3px solid;
    width: 250px;
    height: 41px;
    margin: 0 auto;
    border-radius: 65px;
}
.product__link--1{
    color: #688800;
}
.product__link--2{
    color: #009246;
}
.product__link--3{
    color: #D73A31;
}
.product__link--4{
    color: #E67F10;
}
.product__link--1:hover{
    background-color: #688800;
    color: #fff;
    transition: 0.3s;
}
.product__link--2:hover{
    background-color: #009246;
    color: #fff;
    transition: 0.3s;
}
.product__link--3:hover{
    background-color: #D73A31;
    color: #fff;
    transition: 0.3s;
}
.product__link--4:hover{
    background-color: #E67F10;
    color: #fff;
    transition: 0.3s;
}
.about-us{
    margin-bottom: 160px;
}
.about-us__title{
    margin-bottom: 117px;
    color: #D73A31;
}
.about-us__who-we-are{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    position: relative;
}
.about-us__green-bg{
    width: 195px;
    height: 357px;
    background-color: #688800;
}
.about-us__img-1{
    position: absolute;
    left: 52px;
    top: -36px;
}
.about-us__who-we-are-text-1{
    max-width: 922px;
    height: 357px;
    padding: 47px 75px 69px 99px;
    box-shadow: 10px 10px 35px rgba(190, 191, 183, 0.1);
}
.about-us__subtitle{
    color: #688800;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 43px;
}
.about-us__desc{
    font-size: 19px;
    line-height: 28px;
}
.about-us__what-we-do{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.about-us__what-we-do-text-2{
    padding: 74px 85px 76px 48px;
    box-shadow: 10px 10px 35px rgba(190, 191, 183, 0.1);
    max-width: 922px;
    height: 357px;
}
.about-us__img-2{
    position: absolute;
    right: 55px;
    top: -35px;
}
.information{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 190px;
}
.information__delivery-jpg{
    position: absolute;
    top: 170px;
    left: 65px;
}
.information__delivery-title{
    text-align: center;
    color: #688800;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 26px;
}
.information__delivery-box{
    background: #EDF4D2;
    display: flex;
    justify-content: flex-end;
    min-width: 915px;
    padding: 36px 64px 7px;
    margin-left: auto;
}
.information__section-left{
    text-align: center;
    width: 125px;
    margin-left: 70px;
}
.information__section-img{
    margin-bottom: 16px;
}
.information__section-text{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.information__payment{
    padding-top: 180px;
    margin-left: auto;
}
.information__payment-title{
    text-align: center;
    color: #688800;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 26px;
}
.information__payment-box{
    background: #EDF4D2;
    display: flex;
    justify-content: flex-start;
    min-width: 908px;
    padding: 41px 61px 12px;
    margin-right: auto;
}
.information__section-right{
    text-align: center;
    width: 125px;
    margin-right: 70px;
}
.contacts{
    margin-bottom: 120px;
}
.contacts__inner{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.contacts__title{
    color: #009246;
    margin-bottom: 150px;
}
.contacts__img{
    position: absolute;
    top: -210px;
    left: 140px;
}
.contacts__block{
    padding: 55px 40px 60px 70px;
    margin-right: 190px;
    box-shadow: 10px 10px 35px rgba(190, 191, 183, 0.1);
    border-radius: 3px;
}
.contacts__link{
    display: block;
    display: flex;
    align-items: center;
    margin-bottom: 49px;
}
.contacts__text{
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    margin-left: 32px;
  
}
.contacts__btn{
    margin-top: 35px;
    width: 300px;
    height: 60px;
    background: linear-gradient(320.69deg, #536614 15.36%, #97C20B 84.86%);
    border-radius: 65px;
    border: 0 solid #fff;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 42px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.footer{
    background-color: #728536;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
    margin: 0 auto;
    align-items: center;
}
.footer__menu-list{
    display: flex;
}
/* .menu__list{
    display: flex;
    justify-content: flex-end;
    width: 100%;
} */
.footer__menu-item{
    margin-left: 65px;
    font-size: 20px;
    color: #fff;
    line-height: 100%;
    list-style-type: none;
}
.footer__link{
    margin: 0 24px;
}